@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}

body {
    background-color: rgb(49, 49, 49);
    font-family: Poppins, Arial, sans-serif;
}

h1 {
    color: white;
    margin: 10px;
}

.bloco {
    height: 136px;
    width: 500px;
    border-radius: 30px;
    background-image: linear-gradient(to left, rgb(65, 65, 65), rgb(53, 53, 53));
    color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.blocoselecionado {
    height: 136px;
    width: 500px;
    border-radius: 30px;
    background-image: linear-gradient(to left, rgb(65, 65, 65), rgb(53, 53, 53));
    color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
    border: solid 1px rgb(73, 175, 32)
}

.blocotocando {
    height: 136px;
    width: 500px;
    border-radius: 30px;
    background-image: linear-gradient(to left, rgb(75, 151, 45), rgb(53, 53, 53));
    color: white;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.blocoimagem {
    height: 130px;
    width: 130px;
}

.blocodados {
    padding-left: 10px;
}

.dadostitle {
    height: 10px;
    width: 505px;
    font-size: 18px;
    font-family: Poppis 700, Arial, Helvetica, sans-serif;
}

.dadossubtitle {
    color:rgb(173, 173, 173);
    font-size: 12px;
}

.botaoplaylist {
    padding: 10px;
    width: 170px;
    background-color: rgb(73, 175, 32);
    color: white;
    text-align: center;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 30px
}

.blocobotaoplay {
    padding: 10px;
    width: 150px;
    background-color: rgb(73, 175, 32);
    text-align: center;
    border-radius: 30px;
    margin: 3px;

}

.blocobotaoinfo {
    padding: 10px;
    width: 150px;
    background-color: rgba(65, 65, 65, 0.158);
    text-align: center;
    border-radius: 30px;
    border: solid 1px white;
    margin: 3px;
}

.blocobotoes {
    display: flex;
}

.rodape{
    margin-top: 60px;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(65, 65, 65), rgb(53, 53, 53));
    height: 180px;
    border-radius: 30px;
}
